<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Let's Begin</title>
    <link rel="stylesheet" href="/assets/css/all.css" />
  </head>
  <body>
  	<div style="text-align: center; padding-top:10px">
  	<h1 style="font-size:50px">Let's Begin</h1><br />
  	<h2 style="font-size:25px"><em>A tutorial aggregator for programmers</em></h2>
  	</div>
  	{{{body}}}
  </body>
</html>
